/*!
  sign-machine V2 | ©Nick Freear, 2017-05-21 | License: MIT.
*/
.sign-machine-v2-js {
  background: #fbfbfb;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #222;
  font: 1.2rem sans-serif;
  margin: 1em auto;
  max-width: 34rem;
  min-height: 130px;
  padding: .8em 1em 0;
}
.sign-machine-v2-js input,
.sign-machine-v2-js button {
  border: 1px solid #aaa;
  border-radius: 4px;
  font-size: 1rem;
  padding: 3px 12px;
}
.sign-machine-v2-js input[type=submit],
.sign-machine-v2-js button {
  background: #eee;
  cursor: pointer;
}
.sign-machine-v2-js form,
.sign-machine-v2-js .letter,
.sign-machine-v2-js .space {
  display: block;
  margin: 0 auto .6em;
}
.sign-machine-v2-js .letter,
.sign-machine-v2-js .space {
  background: #fff;
  border: 5px dashed darkorange;
  border-radius: 5px;
  max-width: 120px;
  min-height: 110px;
  min-width: 110px;
  padding: .5em 1em;
}
.sign-machine-v2-js p {
  min-height: 90px;
}
.sign-machine-v2-js .about-link {
  display: block;
  font-size: .85rem;
  margin: 0 0 .5em;
  text-align: right;
  text-decoration: underline;
}
